* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header_height: 60px;
    --content_scrollbar_width: 20px;
    --sidebar_width: 250px;
    --collapse_button_thickness: 20px;

    /* Colors */
    /* --theme-primary: rgb(0, 255, 0);
    --theme-secondary: rgb(97, 97, 97);
    --theme-secondaryDecoration: rgb(29, 29, 29);
    
    --theme-background: rgb(238, 183, 233);
    
    --theme-surfacePrimary: rgb(136, 247, 255);
    --theme-surface: rgb(78, 189, 197);
    --theme-surfaceSecondary: rgb(27, 124, 131);
    --theme-surfaceSecondaryDecorator: rgb(14, 75, 80);
    
    --theme-inSurface: rgb(78, 197, 78);
    --theme-inSurfaceSecondary: rgb(27, 131, 27);

    --theme-textPrimary: rgb(0, 0, 0); */
    --standart-border-radius: 10px;
}

/* ------------ Global styles ------------ */

body {
    overflow: hidden;
    background-color: var(--theme-background);
    color: var(--theme-textPrimary);
    font-family: "Barlow", Georgia;
}

a {
    color: var(--theme-textPrimary);
    text-decoration: none;
}

a:hover {
    color: var(--theme-primary);
}

hr {
    border-color: var(--theme-textPrimary);
}

button {
    color: var(--theme-textPrimary);
    background: none;
    border: none;
    /* background-color: var(--theme-surface); */
    /* border-color: var(--theme-surfaceSecondary); */
}

button:hover {
    color: var(--theme-primary);
    /* background-color: var(--theme-surfaceActive); */
    
}

textarea, input[type=text], input[type="password"]  {
    outline: none !important;
    background-color: var(--theme-background);
    border-radius: var(--standart-border-radius);
    border: solid 2px var(--theme-inSurfacePrimary);

    color: var(--theme-textPrimary);
    padding: 10px;
    
    resize: none;
    overflow-x: hidden;
}

textarea:focus, input[type=text]:focus, input[type="password"]:focus  {
    border: solid 2px;
    border-color: var(--theme-primary);
}


textarea::placeholder {
    color: var(--theme-secondary);
}

*::-webkit-scrollbar {
    display:block;
    width: 15px;
    background-color: var(--theme-secondaryDecoration);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--theme-secondary);
    height: auto;
    border-radius: var(--standart-border-radius);
    border: var(--theme-secondaryDecoration) solid 3px;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-primary);
}

textarea::-webkit-scrollbar {
    border-top-right-radius: var(--standart-border-radius);
    border-bottom-right-radius: var(--standart-border-radius);
}

.highlight, .primary {
    color: var(--theme-primary);
}

.secondary {
    color: var(--theme-secondary);
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.flex-row-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-column-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img.author-icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.like-button-filled span.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1
}

/* ------------ Header styles ------------ */
.navbar {
    position: fixed;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--theme-surfacePrimary);
    color: var(--theme-textPrimary);
    width: 100%;
    border-bottom: solid 2px var(--theme-surfaceSecondary); 
}

.navbar img {
    width: 40px;
    height: 40px;
}

.navbar a:hover {
    color: var(--theme-primary);
}

.navbar .container {
    padding: 15px 15px;
    height: var(--header_height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .container .action_container {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.navbar .container .action_container #profile-icon img {
    border-radius: 20px;
}

.navbar .container .action_container #theme-icon #theme-switch-button {
    background: none;
    color: var(--theme-textPrimary);
    border: none;
    cursor: pointer;
}
.navbar .container .action_container #theme-icon #theme-switch-button:hover {
    color: var(--theme-primary)    
}

/* ------------ Main styles ------------ */

main {
    width: 100%;
    display: flex;
}

main .main_container {
    margin-top: var(--header_height);
    width: 100%;
    display: inline-flex; 
    align-items: stretch;
    justify-content: space-between;
    /* background: #ddd; */
}

main .main_container .in_page {
    overflow-y: scroll;
    scrollbar-width: var(--content_scrollbar_width);
    background-color: var(--theme-background);
    /* min-height: 100%; */
    width: 100%;
    height: 100svh;
    padding-right: var(--sidebar_width);
}

main .main_container .in_page::-webkit-scrollbar {
    width: var(--content_scrollbar_width);
}

main .main_container .in_page #content {
    overflow:hidden;
    
    /* min-height: 100%; */
    width: 100%;
    min-height: 100%;
}

/* ------------ Side panel styles ------------ */

main .main_container .sidenav {
    position: fixed;
    right: 0;
    height: calc(100% - var(--header_height));
    width:fit-content;
    display: flex;
    flex-direction: row;
    margin-right: var(--content_scrollbar_width);
    background-color: var(--theme-surface);
    border-left: solid 2px var(--theme-surfaceSecondary); 

}

main .main_container .sidenav .collapse {
    left: 0;
    height: 100%;
    width: var(--collapse_button_thickness);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--theme-surface);
    border: none;
    cursor: pointer;
    color: var(--theme-textPrimary);
}

main .main_container .sidenav .collapse:hover {
    /* background: var(--color-primary); */
    color: var(--theme-primary);
    background: var(--theme-surfaceActive);

    /* width: calc(var(--collapse_button_thickness) + 5px); */

}

main .main_container .sidenav .collapse .material-symbols-outlined {
    font-size: xx-large;
}


main .main_container .sidenav .container .side-panel-elements-container {
    position: relative;
    /* margin-top: var(--header_height); */
    width: var(--sidebar_width);
    display: block;
    height: fit-content;
    /* background: #ddd; */
}

main .main_container .sidenav .container .side-panel-elements-container .sidenav_element {
    display: flex;
    width: 100%;
    padding: 10px;
    gap: 5%;
}

main .main_container .sidenav .container .sidenav_element:hover {
    background-color: var(--theme-surfaceActive);
    color: var(--theme-primary);
}


/* Recascade for phone */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    main .main_container {
        display: block;
    }
    main .main_container .main_column {
        width: 100%;
    }
    main .main_container .sidenav {
        position: fixed;
        flex-direction: column-reverse;
        right: auto;
        height: fit-content;
        border: none;
        border-bottom: solid 2px var(--theme-surfaceSecondary); 
    }
    main .main_container .sidenav .collapse {
        z-index: 100;
        width: 100%;
        height: var(--collapse_button_thickness);
        
    }
    main .main_container .sidenav .collapse:hover {
        /* background: var(--color-primary); */
        color: var(--theme-primary);
        width: 100%;
        /* height: calc(var(--collapse_button_thickness) + 5px); */
    }
    main .main_container .sidenav .container {
        width: 100%;
    }
    main .main_container .in_page::-webkit-scrollbar {
        display:none;
    }
    /* main .main_container .in_page .content { */
        /* background-color: #444425; */
    /* } */
  }

/* ------------ Footer styles ------------ */

footer {
    /* background-color: rgb(150, 150, 150); */
    display: block;
    width: 100%;
    padding: 30px 30px 130px 30px;
}

footer .footer-content {
    justify-content: center;
    align-items: center;
}

footer .footer-content .container {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
}




