
#content {
    display: flex;
    justify-content: center;
}

#content .content-container {
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: row-reverse;
}

/* ---------------- Post style ---------------- */

#content .content-container .post-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content .content-container .post-section .post-container {
    width: 600px;
    max-width: 100%;
    height: min-content;
    min-height: min-content;
    display: flex;
    flex-direction: column;
}

#content .content-container .post-container .post-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--theme-inSurface);
}

#content .content-container .post-container .post-header .author-info {
    gap: 10px;
}


#content .content-container .post-header .post-header-text .author-name {
    font-size: large;
}

#content .content-container .post-container .image-container {
    background-color:var(--theme-inSurfaceSecondary);
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
}

#content .content-container .post-container .image-container #post-image-button {
    width: 100%;
    height: 100%;
}

#content .content-container .post-container .image-container img.post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1 / 1;
}

#content .content-container .post-container .post-footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    background-color: var(--theme-inSurface);
}

#content .content-container .post-container .post-body {
    padding: 15px;
}


/* ---------------- Comments style ---------------- */

#content .content-container .comments-section {
    background-color:var(--theme-surface);
    height: 100%;
    width: 70%;
    max-width: 500px;
    overflow-y: auto;
    padding: 10px;
    border-right: solid var(--theme-surfaceSecondary) 2px;
    border-bottom: solid var(--theme-surfaceSecondary) 2px;
    border-bottom-right-radius: var(--standart-border-radius);
}
#content .content-container .comments-section::-webkit-scrollbar {
    border-bottom-right-radius: var(--standart-border-radius);
}

#content .content-container .comments-section, #comment-list {
    gap: 40px;
}

#content .content-container  .comments-container .write-comment {
    background-color:var(--theme-inSurface);
    padding: 5px;
    border-radius: var(--standart-border-radius);
}

#content .content-container  .comments-container .write-comment form {
    width: 100%;
    display: flex;
}

#content .content-container  .comments-container .write-comment #write-comment-field {
    width: 100%;
}
#content .content-container  .comments-container .write-comment #write-comment-button {
    margin: 10px;
}

#content .content-container .comments-section .comments-container .comment {
    background-color: var(--theme-inSurface);
    gap: 5px;
    border-radius: var(--standart-border-radius);
    padding: 5px;
}

#content .content-container .comments-container .comment .comment-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 5px;
}

#content .content-container .comment .comment-header .comment-info {
    gap: 10px;
}

#content .content-container .comment .comment-header .comment-info .comment-date {
    font-size: small;
}

#content .content-container .comment .comment-body {
    margin-top: 5px;
    padding: 0 10px 10px 10px;
}

/* ---------------- Medias ---------------- */

@media only screen and (max-width: 1400px) {
    #content .content-container .post-section .post-container {
        width: 500px;
    }
}

@media only screen and (max-width: 1200px) {
    #content .content-container .comments-section {
        max-width: 400px;
    }
    #content .content-container .post-section .post-container {
        width: 400px;
    }
}

@media only screen and (max-width: 1000px) {
    #content .content-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #content .content-container .comments-section {
        width: 500px;
        max-width: 100%;
        border: none;
        border-radius: 0px;
        height: fit-content;
        overflow: visible;

    }
    #content .content-container .post-section .post-container {
        max-height: none;
        width: 500px;
    }
}

@media only screen and (max-width: 768px) {
    #content .content-container .post-section .post-container, #content .content-container .comments-section {
        width: 100%;
        max-width: 600px;
    }
}
