{% extends "gatior/base.html" %}
{% load static %}

{% block title %}Post Detail{% endblock title %}

{% block personal_style_url %}{% static 'gatior/styles/post_style.css' %}{% endblock personal_style_url %}


{% block content %}
<div class="content-container">
    <section class="post-section" id="post-section">
        <article class="post-container" id="post-container">
            <header class="post-header">
                <a class="author-info flex-row" href="{% url 'blog:account' post.user.username %}">
                    <img class="author-icon" src="{{ post.user.get_profile_picture_url }}">
                    <div class="post-header-text flex-column">
                        <span class="author-name">{{ post.user.get_full_name }}</span>
                        <span class="post-date secondary">{{ post.created_at }}</span>
                    </div>
                </a>
                {% if post.user == user %}
                    <button class="delete-button" id="delete-post-button" onclick="deletePost()">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                {% endif %}
            </header>
            <div class="image-container" id="post-image-container">
                <button id="post-image-button">
                    <img class="post-image" id="post-image" src="{{ post.image.url }}">
                </button>
            </div>
            <div class="post-footer">
                <div class="post-likes flex-row">
                    <button id="like-post-button" class="like-button flex-row-centered">
                        <span id="post-like-count">{{ like_count }}</span>
                        <span id="like-post-icon" class="material-symbols-outlined">favorite</span>
                    </button>
                </div>
            </div>
            <p class="post-body">
                {{ post.body|linebreaksbr }}
            </p>
        </article>
    </section>
    <section class="comments-section" id="comments-section">
        <div class="comments-container flex-column" id="comment-container">
            <section class="write-comment flex-row">
                <textarea id="write-comment-field" rows="5" placeholder="Write comment..."></textarea>
                <button id="write-comment-button" type="submit" class="write-comment-button">
                    <span class="material-symbols-outlined">send</span>
                </button>
            </section>
            <div id="comment-list" class="flex-column">
                {% for comment in comments %}
                    <article class="comment flex-column" id="comment-{{ comment.pk }}">
                        <header class="comment-header">
                            <div class="comment-info flex-row">
                                <a class="flex-row" href="{% url 'blog:account' comment.user.username %}">
                                    <img class="author-icon" src="{{ comment.user.get_profile_picture_url }}">
                                    <div class="comment-info-text flex-column">
                                        <span>{{ comment.user.get_full_name }}</span>
                                        <span class="comment-date secondary">{{ comment.created_at }}</span>
                                    </div>
                                </a>
                            </div>
                            {% if comment.user.pk == user.pk %}
                                <button class="delete-button" id="delete-comment-{{ comment.pk }}"  onclick="deleteComment({{ comment.pk }})">
                                    <span class="material-symbols-outlined">delete</span>
                                </button>
                            {% endif %}
                        </header>
                        <p class="comment-body">
                            {{ comment.body|linebreaksbr }}
                        </p>
                    </article>            
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock content %}

{% block personal_script %}
<script src="{% static 'gatior/scripts/post_page.js' %}"></script>
<script>

var like_post_button = document.getElementById("like-post-button");
var like_post_icon = document.getElementById("like-post-icon");
var post_like_count = document.getElementById("post-like-count");  

like_post_button.onclick = function() {

    fetch("{% url 'blog:like_post_button' post.pk %}", {
        method: 'POST',
        credentials: 'same-origin',
        headers:{
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({})
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        initPostLikeHTML(data.liked_by_user, data.like_count);
    })
    .then(function() {
        chatSocket.send(create_message(""));
    })
}


function initPostLikeHTML(liked_by_user, like_count) {
    if (liked_by_user) {
        if (!like_post_button.classList.contains("like-button-filled") && !like_post_button.classList.contains("like-button")) {
            like_post_button.classList.add("like-button-filled");
        }
        else {
            like_post_button.classList.replace("like-button", "like-button-filled");
        }
    } 
    else {
        if (!like_post_button.classList.contains("like-button-filled") && !like_post_button.classList.contains("like-button")) {
            like_post_button.classList.add("like-button");
        }
        else {
            like_post_button.classList.replace("like-button-filled", "like-button");
        }
        
    };
    post_like_count.innerHTML = like_count;
}

initPostLike();

// Yep, this funtion repeat a lot from "like_post_button.onclick"
function initPostLike() {
    fetch("{% url 'blog:get_post_liked_status' post.pk %}", {
        method: 'GET',
        credentials: 'same-origin',
        headers:{
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRFToken': csrftoken,
        },
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        initPostLikeHTML(data.liked_by_user, data.like_count)
    });
}

// ------------- Sockets -------------
const postRoomID = JSON.parse({{ post.pk }});

const chatSocket = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/post/'
    + postRoomID
    + '/'
);



// Get WebSocket message from Server
chatSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    if (data.delete_post) {
        window.location.replace("{% url 'blog:feed' %}");
    }
    if (data.comment.body.length > 0) {
        addComment(data)
    }
    if (data.delete_pk.length > 0) {
        comment_to_delete = document.getElementById(`comment-${data.delete_pk}`);
        if (comment_to_delete != null) { 
            comment_to_delete.remove();
        }
    }
    post_like_count.innerHTML = data.like_count
};

// Error handling
chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};

write_comment_button = document.getElementById('write-comment-button');

// Publidh comment and send WebSocket
write_comment_button.onclick = function(e) {
    const writeCommentField = document.getElementById('write-comment-field');
    chatSocket.send(create_message(writeCommentField.value));
    writeCommentField.value = '';
};

let comment_list = document.getElementById("comment-list")

// Create comment HTML element
function addComment(data) {
    comment = data.comment;

    let delete_button_html = ""
    if (comment.user_pk == {{ user.pk }}) {
        delete_button_html = `
            <button class="delete-button" id="delete-comment-${comment.pk}" onclick="deleteComment(${ comment.pk })">
                <span class="material-symbols-outlined">delete</span>
            </button>
        `
    }


    comment_list.innerHTML = `
    <article class="comment flex-column" id="comment-${comment.pk}">
        <header class="comment-header">
            <div class="comment-info flex-row">
                <a class="flex-row" href="${comment.authors_url}">
                    <img class="author-icon" src="${comment.authors_icon_url}">
                    <div class="comment-info-text flex-column">
                        <span>${comment.authors_full_name}</span>
                        <span class="comment-date secondary">${comment.created_at}</span>
                    </div>
                </a>
            </div>
            ${delete_button_html}
        </header>
        <p class="comment-body">
            ${comment.body}
        </p>
    </article>   
    ` + comment_list.innerHTML;
    // After adding comment link to button clears, so we need to relink it
    write_comment_button = document.getElementById('write-comment-button');
}

function deleteComment(pk) {
    chatSocket.send(create_message("", pk.toString()));
}

function deletePost() {
    chatSocket.send(create_message("", "", true));
}

function create_message(comment_body="", delete_pk="", delete_post=false) {
    let message = new Object(); 
    message.post_pk = {{ post.pk }};
    message.user_pk = {{ user.pk }};

    comment = new Object();

    comment.body = comment_body;
    comment.user_pk = {{ user.pk }};
    comment.authors_url = "{% url 'blog:account' user.username %}";
    comment.authors_icon_url = "{{ user.get_profile_picture_url }}";
    comment.authors_full_name = "{{ user.get_full_name }}";
    comment.created_at = "";
    comment.pk = "";

    message.comment = comment;

    message.delete_pk = delete_pk;
    message.delete_post = delete_post;

    return JSON.stringify(message);
}



</script>
{% endblock personal_script %}